.menu-item {
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    align-items: center;
    padding: 8px;
    color: var(--text-color);
    transition: all ease-in 0.2s;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
        border-radius: 4px;
    }
    &.active {
        color: rgba(254, 44, 85, 1);
        .icon {
            display: none;
        }
        .icon-active {
            display: flex;
        }
    }
}
.title {
    margin-left: 10px;
}
.icon {
    display: flex;
}
.icon-active {
    display: none;
}
